$primary-color-dark: #5D4037;
$primary-color: #795548;
$primary-color-light: #FAFAFA;
$primary-color-text: #FFFFFF;
$secondary-color-text: rgba(255, 255, 255, 0.7);
$accent-color: #4CAF50;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

#as-datetime-picker {
	font-family: 'Roboto', sans-serif;
	position:    fixed;
	transition:  all 1s ease;
	z-index:     1000;
	
	.wrapper {
		display:         flex;
		height:          100vh;
		width:           100vw;
		justify-content: center;
	}
	
	.calendar {
		height:           auto;
		width:            50%;
		margin:           auto;
		background-color: #FFFFFF;
		
		// nav
		.nav {
			background-color: $primary-color-dark;
			height:           4rem;
			display:          flex;
			text-align:       center;
			color:            $primary-color-text;
			
			.previous {
				border-right: 1px solid darken($primary-color-dark, 10);
			}
			.next {
				border-left: 1px solid darken($primary-color-dark, 10);
			}
			.previous, .next {
				flex:       1 1 0;
				width:      20%;
				cursor:     pointer;
				transition: background-color .5s ease;
				
				&:hover {
					background-color: darken($primary-color-dark, 5);
				}
			}
			.month {
				width: 60%;
			}
			.previous, .next, .month {
				display:         flex;
				align-items:     center;
				justify-content: center;
			}
		}
		
		// weekdays
		.week-days {
			background-color: $primary-color;
			display:          flex;
			height:           2rem;
			color:            $primary-color-text;
			
			div {
				&:not(:last-of-type) {
					border-right: 1px solid darken($primary-color, 10);
				}
				flex:            1 1 0;
				width:           14.285714286%;
				display:         flex;
				align-items:     center;
				justify-content: center;
			}
		}
		
		// days
		.week {
			display:       flex;
			height:        3rem;
			border-bottom: 1px solid $divider-color;
			color:         $primary-text-color;
			
			.day {
				flex:            1 1 0;
				width:           14.285714286%;
				display:         flex;
				align-items:     center;
				justify-content: center;
				
				&:not(:first-of-type) {
					border-left: 1px solid $divider-color;
				}
			}
		}
	}
}